---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div class="blogContent">
    <Content />
  </div>
</BlogPost>

<style is:inline>
  div.blogContent {
    & p,
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & table,
    & pre,
    & code,
    & b,
    & strong,
    & blockquote {
      all: revert;
    }

    & body {
      font-family: sans-serif;
    }

    & h1 {
      font-size: 2em;
    }

    & h2 {
      font-size: 1.5em;
    }

    & h3 {
      font-size: 1.17em;
    }

    & h4 {
      font-size: 1em;
    }

    & h5 {
      font-size: 0.83em;
    }

    & h6 {
      font-size: 0.67em;
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      font-weight: 300;
      line-height: 1.5;
    }

    & pre {
      padding: 0.8em 1.15em;
      border-radius: 5px;
    }

    & table,
    th,
    td {
      border: 1px solid;
      border-collapse: collapse;
    }

    & th,
    & td {
      padding: 0.25rem;
    }
  }
</style>
