---
import AlbumPosts from '../../components/AlbumPosts.vue';
import ContentArticle from '../../components/ContentArticle.astro';
import SalesforceIcon, {
  IconSize,
  IconType,
} from '../../components/SalesforceIcon.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const TITLE: string = 'Blog';
const DESCRIPTION: string = 'All posts';
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
  <ContentArticle title="Posts">
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-news"
      title="posts"
    >
      <SalesforceIcon
        icon="news"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <div slot="body">
      <AlbumPosts client:load />
    </div>
  </ContentArticle>
</BaseLayout>
