---
import AlbumPosts from '@components/common/AlbumPosts.vue';
import CardArticle from '@components/layout/body/CardArticle.astro';
import SalesforceIcon, {
  IconSize,
  IconType,
} from '@components/common/SalesforceIcon.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const TITLE: string = 'Blog';
const DESCRIPTION: string = 'All posts';
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
  <CardArticle title="Posts">
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-news"
      title="posts"
    >
      <SalesforceIcon
        icon="news"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <div slot="body">
      <AlbumPosts client:load />
    </div>
  </CardArticle>
</BaseLayout>
