---
import AlbumPosts from '@/components/layout/body/AlbumPosts.astro';
import CardArticle from '@components/layout/body/CardArticle.astro';
import SalesforceIcon from '@components/common/SalesforceIcon.vue';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { IconSize, IconType } from '@/types';

const TITLE: string = 'Blog';
const DESCRIPTION: string = 'All posts';
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
  <div
    class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_6-of-12"
  >
    <CardArticle title="Posts">
      <span
        slot="icon"
        class="slds-icon_container slds-icon-standard-news"
        title="posts"
      >
        <SalesforceIcon
          icon="news"
          type={IconType.STANDARD}
          size={IconSize.SMALL}
        />
      </span>
      <div slot="body">
        <AlbumPosts />
      </div>
    </CardArticle>
  </div>
</BaseLayout>
