---
import Article from '../components/Article.astro';
import SalesforceIcon, {
  IconSize,
  IconType,
} from '../components/SalesforceIcon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Not found" description="Page not found">
  <Article title="Page not found">
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-home"
      title="home"
    >
      <SalesforceIcon
        icon="first_non_empty"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <div slot="body">
      <h1>Page not found</h1>
    </div>
  </Article>
</BaseLayout>
