---
import Article from '../components/Article.astro';
import SalesforceIcon, {
  IconType,
  IconSize,
} from '../components/SalesforceIcon.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

const TITLE: string = 'About';
const DESCRIPTION: string = 'About Alvhix blog';
---

<BaseLayout title={TITLE} description={DESCRIPTION}>
  <Article title="Alvhix blog">
    <span
      slot="icon"
      class="slds-icon_container slds-icon-standard-user"
      title="user"
    >
      <SalesforceIcon
        icon="user"
        type={IconType.STANDARD}
        size={IconSize.SMALL}
      />
    </span>
    <div slot="body">
      <p>
        A blog built to discuss the best software engineering practices to build
        the best reliable, scalable and maintainble digital products. This
        should be your inspiration to start prioritising these practices in your
        organisation preventing a future unavoidable technical debt.
      </p>
      <p>
        I'm Álvaro Fernández, software engineer with special interest in good
        software engineering practices focusing on the Salesforce CRM. I have
        been solving problems in the industry for 3+ years.
      </p>
      <p>
        I created this blog with the intention of sharing my knowledge and
        thoughts about good engineering practices in software. We can
        encapsulate the following items:
      </p>
      <ul>
        <li>Flexibility of change</li>
        <li>Testability</li>
        <li>Modular and legible code</li>
        <li>Reducing the complexity</li>
        <li>Fast and scalable</li>
        <li>Beautiful code</li>
      </ul>
      <p>
        Feel free to contact me for any inquiry or offer if you feel that I can
        help you. I'm always open for new challenges.
      </p>
      <p>Hope you enjoy the blog. Happy coding!</p>
    </div>
  </Article>
</BaseLayout>
