---
interface Props {
  title: string;
  description?: string;
  commentsEnabled?: boolean;
}

const { title, description, commentsEnabled = false } = Astro.props;
---

<article class="slds-card">
  <header class="slds-page-header">
    <div class="slds-page-header__row">
      <div class="slds-page-header__col-title">
        <div class="slds-media">
          <div class="slds-media__figure">
            <slot name="icon" />
          </div>
          <div class="slds-media__body">
            <div class="slds-page-header__name">
              <div class="slds-page-header__name-title">
                <h1
                  class="slds-page-header__title slds-text-heading_medium slds-m-bottom_small"
                >
                  {title}
                </h1>
              </div>
            </div>
            <h2
              class="slds-text-heading_small slds-m-bottom_large slds-m-bottom_large"
            >
              {description}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <section class="slds-card__body slds-card__body_inner">
    <slot name="body" />
  </section>

  <footer class="slds-card__footer">
    {
      commentsEnabled && (
        <script
          src="https://giscus.app/client.js"
          data-repo="alvhix/alvhix"
          data-repo-id="R_kgDOGwcMcA"
          data-category="Announcements"
          data-category-id="DIC_kwDOGwcMcM4CZXkh"
          data-mapping="pathname"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="noborder_light"
          data-lang="en"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        />
      )
    }
  </footer>
</article>

<style is:inline>
  section.slds-card__body {
    font-size: 120%;
  }

  p {
    all: revert;
  }
</style>
