---
interface Props {
  type: IconName;
}

const { type } = Astro.props;

export enum IconName {
  TRAILHEAD = 'salesforce.svg',
  TWITTER = 'twitter.svg',
  GITHUB = 'github.svg',
  LINKEDIN = 'linkedin.svg',
  RSS = 'rss.svg',
}

const title = type.replace('.svg', '') + ' icon';
---

<span class="slds-icon">
  <img src={`/svg/${type}`} width="100%" height="100%" alt={title} />
  <span class="slds-assistive-text">{title}</span>
</span>
