---
interface Props {
  type: IconName;
}

const { type } = Astro.props;

export enum IconName {
  TRAILHEAD = 'salesforce.svg',
  TWITTER = 'twitter.svg',
  GITHUB = 'github.svg',
  RSS = 'rss.svg',
}
---

<span class="slds-icon">
  <img
    src={`/svg/${type}`}
    width="100%"
    height="100%"
    alt={type.replace('.svg', '')}
  />
</span>
