---
import SalesforceIcon, { IconType, IconSize } from './SalesforceIcon.astro';
---

<div class="slds-form-element">
  <div class="slds-form-element__control">
    <div class="slds-combobox_container">
      <div
        class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click"
      >
        <div
          class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
          role="none"
        >
          <input
            type="text"
            class="slds-input slds-combobox__input"
            id="combobox-id-1"
            aria-autocomplete="list"
            aria-controls="listbox-id-1"
            aria-expanded="false"
            aria-haspopup="listbox"
            autocomplete="off"
            role="combobox"
          />
          <span
            class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right"
          >
            <SalesforceIcon
              icon="search"
              type={IconType.UTILITY}
              size={IconSize.X_SMALL}
              colored={true}
            />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
