---
import MediaIcon from '@components/common/MediaIcon.astro';
const today = new Date();
---

<footer class="slds-card footer">
  <div class="slds-card__body slds-card__body_inner">
    <ul class="slds-grid slds-grid_align-center slds-gutters_x-small">
      <li class="slds-col">
        <a href="https://www.linkedin.com/in/alvhix/en" target="_blank">
          <MediaIcon name="linkedin.svg" />
        </a>
      </li>
      <li class="slds-col">
        <a href="https://trailblazer.me/id/alvhix" target="_blank">
          <MediaIcon name="salesforce.svg" />
        </a>
      </li>
      <li class="slds-col">
        <a href="https://twitter.com/alvhix" target="_blank">
          <MediaIcon name="twitter.svg" />
        </a>
      </li>
      <li class="slds-col">
        <a href="https://github.com/alvhix" target="_blank">
          <MediaIcon name="github.svg" />
        </a>
      </li>
      <li class="slds-col">
        <a href="/rss.xml" target="_self">
          <MediaIcon name="rss.svg" />
        </a>
      </li>
    </ul>
  </div>
  <div class="slds-card__footer">
    <p class="slds-text-align_center">
      <span>&copy; {today.getFullYear()} Alvhix. All rights reserved.</span>
    </p>
  </div>
</footer>
