---
import BaseHead from '../components/BaseHead.astro';
import AppHeader from '../components/AppHeader.astro';
import AppFooter from '@/components/AppFooter.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<style>
  body {
    background-image: url('/svg/background.svg');
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <AppHeader />
    <main>
      <div class="slds-grid slds-grid_align-center slds-wrap main">
        <div
          class="slds-col slds-size_1-of-1 slds-medium-size_8-of-12 slds-large-size_6-of-12"
        >
          <slot />
        </div>
      </div>
    </main>
    <AppFooter />
  </body>
</html>
