---
import BaseHead from '@components/layout/BaseHead.astro';
import AppHeader from '@components/layout/header/AppHeader.astro';
import AppFooter from '@components/layout/footer/AppFooter.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body>
    <AppHeader />
    <main>
      <div
        class="slds-grid slds-grid_align-center slds-grid_vertical-align-center slds-wrap main"
      >
        <slot />
      </div>
    </main>
    <AppFooter />
  </body>
</html>
